<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a style="font-size: large; font-weight: 400; text-decoration: none;" href="http://localhost:3000/d/rYdddlPWk/node-exporter-full?orgId=1&refresh=1m">OS Metrics</a> <br>
    <a style="font-size: large; font-weight: 400; text-decoration: none;" href="http://localhost:3000/d/pMEd7m0Mz/cadvisor-exporter?orgId=1">Container Metrics</a> <br>
    <a style="font-size: large; font-weight: 400; text-decoration: none;" href="http://localhost:3000/d/Qfr7C6WVz/jvm-micrometer?orgId=1&refresh=30s">Micrometer</a> <br>
    <a style="font-size: large; font-weight: 400; text-decoration: none;" href="http://localhost:3000/d/Ti704RM4z/logging-tracing-and-custom-metrics?orgId=1">Logging, Tracing and Custom Metrics</a> <br>
</body>

</html>