<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div><iframe src="http://localhost:3000/d/rYdddlPWk/node-exporter-full?orgId=1&refresh=1m" width="100%"></iframe></div>
    <div><iframe src="http://localhost:3000/d/pMEd7m0Mz/cadvisor-exporter?orgId=1" width="100%"></iframe></div>
    <div><iframe src="http://localhost:3000/d/Qfr7C6WVz/jvm-micrometer?orgId=1&refresh=30s" width="100%"></iframe></div>
    <div><iframe src="http://localhost:3000/d/Ti704RM4z/logging-tracing-and-custom-metrics?orgId=1" width="100%"></iframe></div>
</body>

</html>