.btn-outline-primary {
    background-color: transparent;
    color:#715de2;
    border-color: #715de2;
}

.btn-outline-primary:hover {
    background-color: #715de2;
    color:#ffffff;
    border-color: #715de2;
}