.bg-platinum {
    background-color: #e5e4e2;
}

.bg-gold {
    background-color: #FFD700;
}

.bg-silver {
    background-color: #C0C0C0;
}

.bg-bronze {
    background-color: #cd7f32;
}

.bg-regular {
    background-color: #715de2;
}